[Unit]
Description=SpamiaBot service
After=network.target

[Service]
ExecStart=/usr/local/bin/pnpm start
WorkingDirectory=/root/app
Restart=always
User=node
Environment=NODE_ENV=production
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=spamiabot

[Install]
WantedBy=multi-user.target
